{% extends 'base.html' %}

{% block content %}

<h1> کامپیوتر</h1>
<div class="row" style="direction: rtl;text-align: center;">
    <p>
        خدمات کامپیوتر امروزه با پیشرفته‌تر شدن دنیای تکنولوژی اهمیت ویژه ایی پیدا کرده و برای همگان واضح شده است؛</P>
<p>        زیرا بیشتر امور اداری و روزمره با کمک لپ تاپ‌ها یا کامپیوترهای رومیزی انجام می‌شود.
        </p>
<p>
خدمات سخت افزار

فروش و تعمیر انواع سیستمهای کامپیوتری ( لپ تاپ و پی سی)

فروش و تعمیر قطعات سخت افزار (cpu، مادربورد، هارد، رم و …)
</p>
    <p>
پشتیبانی و انجام سرویس دوره ای سخت افزاری

مشاوره در انتخاب تجهیزات سخت‌افزاری مناسب

مونتاژ و اسمبل کامپیوترهای شخصی (pc) ، حرفه ای و Server

بررسی کامل و عیب یابی سخت افزار سیستم
</p>
    <p>
ارائه خدمات سخت افزاری در محل

تعمیر کامپیوتر و تعمیر لپ تاپ و نوت بوک

خدمات نرم افزار

مشاوره در انتخاب نرم افزارهای مالی و اداری
</p>
    <p>
ارائه خدمات نگهداری و بک آپ اطلاعات مالی و اداری

نصب نرم افزارها و سیستم عامل (خانواده ویندوز و لینوکس)

بهینه سازی و ارتقای نرم افزارها و سیستم عامل ها

نصب و راه اندازی آنتی ویروس تحت شبکه
</p><p>
نصب نرم افزار های تخصصی عمران و مکانیک و ...

راه اندازی  نرم افزارهای کنترل پهنای باند

ارائه خدمات نرم افزار مدیریت شبکه و سرور

    </p><br><br><br>
    <div style="direction: rtl;padding-right: 50px;padding-bottom: 50px;">
        <p>برای ارسال درخواست می توانید بر روی گزینه ارسال درخواست کلیک کنید.</p>
        <button type="submit" value="submit" ><a href ="{% url 'accounts:post' %}">ارسال درخواست </a></button>
        <button type="submit" value="submit" ><a href ="{% url 'accounts:index' %}"> بازگشت به صفحه اصلی </a></button>
    </div>
</div>

{% endblock %}