{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="slider row">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="{% static 'images/4.jpg' %}" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">آموزش آنلاین</h1>
                                    <p class="slider-text hidden-xs">با کمترین هزینه ، آموزش های فوق العاده رو یاد بگیرید</p>
                                    <a href="#" class="btn btn-danger hidden-xs">View All Therapies</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="{% static 'images/5.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">کمک رسان آنلاین </h1>
                                <p class="slider-text hidden-xs">ما هستیم برای کمک به شما</p>
                                <a href="#" class="btn btn-danger hidden-xs">Schedule A Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="{% static 'images/2.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">خدمات آنلاین</h1>
                                <p class="slider-text hidden-xs">بدون مراجعه ، ما انجام می دهیم</p>
                                <a href="#" class="btn btn-danger hidden-xs">Meet Psychiatrists</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="{% static 'images/1.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">  تعمیرات آنلاین</h1>
                                <p class="slider-text hidden-xs">بدون مراجعه ، ما انجام می دهیم</p>
                                <a href="#" class="btn btn-danger hidden-xs">Meet Psychiatrists</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="{% static 'images/3.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">شاد</h1>
                                <p class="slider-text hidden-xs">تمام خدمات مربوط به نرم افزار شاد</p>
                                <a href="#" class="btn btn-danger hidden-xs">Meet Psychiatrists</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}