<html lang="fa" dir="rtl">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <style>
        *{
            text-align: right;
            padding: 0px 10px 0px 10px;
        }
    </style>
{% load crispy_forms_tags %}

    <h1>عضویت </h1>


        <form   method="POST">

            {% csrf_token %}

                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.first_name|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.last_name|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.password1|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.password2|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.email|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.username|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ profile_form.city|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-2 mb-0">
                    {{ profile_form.age|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ profile_form.mobile|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2 mb-0">
                    {{ profile_form.gender|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-10 mb-0">
                    {{ profile_form.address|as_crispy_field }}
                  </div>
                </div>


                    <input type="submit" name="submit" value="عضویت"/><br>
                    <span>قبلا عضو شده ام</span>
                    <button class="w3-btn w3-green" ><a href="{% url 'accounts:login' %}"> ورود</a></button>
        </form>


</html>