<style>
    *{
        direction: rtl;
    }
    li{
        list-style-type: none;;
        display: inline-block;
    }
</style>
<h1>برای ارسال درخواست باید عضو شوید </h1>
<h4>لطفا یکی از گزینه ها رو انتخاب کنید</h4>
<div class="row" style="padding: 50px 200px;">
        <form action=""  method="POST">

            {% csrf_token %}

                {% if user.is_authenticated %}
                    {{form.as_p}}
                    <a href="{% url 'internet:postIntProfile' %}">ادامه</a><br>
                {% else %}

                    <a href="{% url 'accounts:login' %}">ورود</a><br>
                    <a href="{% url 'accounts:register' %}">عضویت</a>
            {% endif %}


        </form>
    </div>