{% extends 'base.html' %}

{% block content %}
    <div class="row"  style="direction: rtl;text-align: right; padding: 10px 20px 10px 10px;">
        <h1> <mark> ساختمان</mark></h1>

        <p>
            ساختِمان یا بنا، سازه‌ای است که برای سکونت و به عنوان سرپناه
            یا برای کار ساخته می‌شود
            که محیط را به دو بخش بیرون و درون تقسیم می‌کند.
        </p>

        <p>ما در اینجا سعی کردیم برای راحت کردن کار شما بهترین راهها ، آسان ترین راه ها و کم هزینه ترین راه ها را پیش روی شما قرار دهیم</p>
        <h3>فقط با ارسال درخواست تمام کارهای شما صورت می گیرد.</h3>
        <h6> کارشناسان ما در اولین فرصت با شما برای هماهنگی و اطلاعات بیشتر تماس حاصل می کنند.</h6>

    </div>
<div class="row " style="direction: rtl">
    <div style="padding-right: 50px;padding-bottom: 50px;text-align: right">
        <p>برای ارسال درخواست می توانید بر روی گزینه مورد نظر کلیک کنید.</p>

        <button type="submit" value="submit" ><a href ="{% url 'accounts:index' %}"> بازگشت به صفحه اصلی </a></button>
    </div></div>
<div class="row" style="direction: rtl; padding: 10px 20px 10px 10px;text-align: right;">
    <div class="w3-panel" style="width:50%;">
      <button class="w3-button w3-block w3-black">پیمانکاری</button>
    </div>

    <div class="w3-panel" style="width:55%; ">
      <button class="w3-button w3-block w3-teal">کناف</button>
    </div>

    <div class="w3-panel" style="width:60%;">
      <button class="w3-button w3-block w3-red ">کابینت</button>
    </div>
    <div class="w3-panel" style="width:70%; ">
      <button class="w3-button w3-block w3-yellow">جوشکاری</button>
    </div>

    <div class="w3-panel" style="width:80%;">
      <button class="w3-button w3-block w3-orange">نقشه کشی</button>
    </div>

    <div class="w3-panel" style="width:90%; ">
      <button class="w3-button w3-block w3-blue ">لوله کشی</button>
    </div>
    <div class="w3-panel" style="width:100%;">
      <button class="w3-button w3-block w3-gray ">سیم کشی</button>
    </div>

</div>

{% endblock %}