<html lang="fa" dir="rtl">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Jomhuria&family=Mada&family=Markazi+Text:wght@476;600&display=swap" rel="stylesheet">

    </head>
    <style>
        *{
            font-family: 'El Messiri', sans-serif;
            text-align: right;
            padding: 0px 10px 0px 10px;
            color: black;
            background-color: #F1F3F6;


        }

    </style>
{% load crispy_forms_tags %}
<p style="font-family:'Jomhuria', cursive;">ما در تلاش هستیم ساختمان شما رو در کوتاه ترین زمان تحویل دهیم</p>
    <p> جهت ارائه خدمات بهتر لطفا در پر کردن فرم دقت لازم را داشته باشید.</p>
    <button style="float: right;" type="submit" value="submit" ><a href ="{% url 'accounts:index' %}"> بازگشت به صفحه اصلی </a></button>
    <h1 style="padding-top: 30px;">ثبت درخواست </h1>

        <form   method="POST">
            {% csrf_token %}
                {% if user.is_authenticated %}

                    {% crispy form %}

                {% else %}
                    <span><a href="{% url 'accounts:login' %}">ورود</a></span><br>
                     <a href="{% url 'accounts:register' %}">عضویت</a>
                {% endif %}
        </form>

</html>